[Unit]
Description=Gunicorn instance to serve iot project
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/cits5506-group36-backend
ExecStart=/home/ubuntu/cits5506-group36-backend/.venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5009 main:app

[Install]
WantedBy=multi-user.target
